.text_name {
    text-align: justify;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/desktopimg.png");
    background-position: center;
    background-size: cover;
}

.input_field {
    background-color: #224957;
    border: none;
    width: 600px;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}

.create_lable {
    cursor: pointer;
    color: cornflowerblue;
    font-size: 18px;
}

.password_wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.log_in {
    width: 640px;
    background-color: #20DF7F;
    margin-top: 60px
}

.pass_btn {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);

}

::placeholder {
    color: #d2cccc;

}

.user_error {
    color: red;
    text-align: left;
    margin-bottom: 0px;

}