.button{
  width: 100px;
  padding: 15px 0px;
  background-color: rgb(45, 151, 237);
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}